<div id="archive">
  <h2>Topic Tags</h2>
  <p><a href='/tags/data-science/'>#data-science</a> <a href='/tags/software-development/'>#software-development</a> <a href='/tags/public-policy/'>#public-policy</a> <a href='/tags/civic-action/'>#civic-action</a> <a href='/tags/economics/'>#economics</a> <a href='/tags/book-review/'>#book-review</a> </p>
  <ul class="post-list">
    <% var year = 0 %>
    <% var change = false %>
    <% page.posts.sort('date', 'desc').each(function(post) { %>
      <% var itemYear = date(post.date, 'YYYY') - 0 %>
      <% change = year !== itemYear %>
      <% year = change ? itemYear : year %>
      <% if (change) { %>
        <h2><%= year %></h2>
      <% } %>
      <li class="post-item">
        <%- partial('_partial/post/date', { post: post, class_name: 'meta' }) %>
        <span><%- partial('_partial/post/title', { post: post, index: true, class_name: '' }) %><span>
      </li>
    <% }); %>
  </ul>

<h1 style="margin-bottom: -1em">Academic Writing</h1>
  <ul class='post-list'>
    <h2>2019</h2>
    <li class='post-item'>
      <div class='meta'>
        <time datetime="2019-04-19T05:00:00.000Z" itemprop='datePublished'>2019-04-09</time>
      </div>
      <span>
        <a class="" href="https://www.biorxiv.org/content/10.1101/602375v1.article-info">Temporal processing of facial expressions of mental states.</a> <i>bioRxiv</i>, 602375. 
        <span></span>
      </span>
    </li>
  </ul>


  <h1 style="margin-bottom: -1em">The Neverending Reader Blog</h1>
  <ul class='post-list'>
    <h2>2017</h2>
    <li class='post-item'>
      <div class='meta'>
        <time datetime="2017-11-15T05:00:00.000Z" itemprop='datePublished'>2017-11-15</time>
      </div>
      <span>
        <a class="" href="https://joshualoong.wordpress.com/2017/11/15/review-design-and-landscape-for-people/">Review: Design and Landscape for People</a>
        <span></span>
      </span>
    </li>

    <li class='post-item'>
      <div class='meta'>
        <time datetime="2017-11-15T05:00:00.000Z" itemprop='datePublished'>2017-11-15</time>
      </div>
      <span>
        <a class="" href="https://joshualoong.wordpress.com/2017/11/15/review-frontier/">Review: Frontier</a>
        <span></span>
      </span>
    </li>

    <li class='post-item'>
      <div class='meta'>
        <time datetime="2017-09-25T05:00:00.000Z" itemprop='datePublished'>2017-09-25</time>
      </div>
      <span>
        <a class="" href="https://joshualoong.wordpress.com/2017/09/25/review-the-evolution-of-democracy/">Review: The Evolution of Democracy</a>
        <span></span>
      </span>
    </li>

    <li class='post-item'>
      <div class='meta'>
        <time datetime="2017-08-07T05:00:00.000Z" itemprop='datePublished'>2017-08-07</time>
      </div>
      <span>
        <a class="" href="https://joshualoong.wordpress.com/2017/08/07/review-manifesto-of-real-democracy/">Review: Manifesto of Real Democracy</a>
        <span></span>
      </span>
    </li>

    <li class='post-item'>
      <div class='meta'>
        <time datetime="2017-03-17T05:00:00.000Z" itemprop='datePublished'>2017-03-17</time>
      </div>
      <span>
        <a class="" href="https://joshualoong.wordpress.com/2017/03/17/review-radical-tories/">Review: Radical Tories</a>
        <span></span>
      </span>
    </li>

    <li class='post-item'>
      <div class='meta'>
        <time datetime="2017-02-06T05:00:00.000Z" itemprop='datePublished'>2017-02-06</time>
      </div>
      <span>
        <a class="" href="https://joshualoong.wordpress.com/2017/02/06/review-stewardship/">Review: Stewardship</a>
        <span></span>
      </span>
    </li>

    <li class='post-item'>
      <div class='meta'>
        <time datetime="2017-02-04T05:00:00.000Z" itemprop='datePublished'>2017-02-04</time>
      </div>
      <span>
        <a class="" href="https://joshualoong.wordpress.com/2017/02/04/review-a-political-theory-of-territory/">Review: A Political Theory of Territory</a>
        <span></span>
      </span>
    </li>

    <li class='post-item'>
      <div class='meta'>
        <time datetime="2017-01-10T05:00:00.000Z" itemprop='datePublished'>2017-01-10</time>
      </div>
      <span>
        <a class="" href="https://joshualoong.wordpress.com/2017/01/10/review-reviving-social-democracy/">Review: Reviving Social Democracy</a>
        <span></span>
      </span>
    </li>

    <li class='post-item'>
      <div class='meta'>
        <time datetime="2017-01-06T05:00:00.000Z" itemprop='datePublished'>2017-01-06</time>
      </div>
      <span>
        <a class="" href="https://joshualoong.wordpress.com/2017/01/06/review-commiting-sociology/">Review: Committing Sociology</a>
        <span></span>
      </span>
    </li>
  </ul>

  <h1 style="margin-bottom: -1em">Bykme Blog</h1>
  <ul class='post-list'>
    <h2>2015</h2>
    <li class='post-item'>
      <div class='meta'>
        <time datetime="2015-08-12T05:00:00.000Z" itemprop='datePublished'>2015-08-12</time>
      </div>
      <span>
        <a class="" href="https://web.archive.org/web/20150813145448/http://bykme.ca/blog/a-brief-history-of-bike-highways/">A Brief History of Bike Highways</a>
        <span></span>
      </span>
    </li>

    <li class='post-item'>
      <div class='meta'>
        <time datetime="2015-07-08T05:00:00.000Z" itemprop='datePublished'>2015-07-08</time>
      </div>
      <span>
        <a class="" href="https://web.archive.org/web/20150709070218/http://bykme.ca/blog/the-idaho-stop/">The Idaho Stop</a>
        <span></span>
      </span>
    </li>

    <li class='post-item'>
      <div class='meta'>
        <time datetime="2015-07-02T05:00:00.000Z" itemprop='datePublished'>2015-07-02</time>
      </div>
      <span>
        <a class="" href="https://web.archive.org/web/20150703102703/http://bykme.ca/blog/the-future-of-canadian-urbanism/">The Future of Canadian Urbanism</a>
        <span></span>
      </span>
    </li>

    <li class='post-item'>
      <div class='meta'>
        <time datetime="2015-06-03T05:00:00.000Z" itemprop='datePublished'>2015-06-03</time>
      </div>
      <span>
        <a class="" href="https://web.archive.org/web/20150604071510/http://bykme.ca/blog/the-economics-of-bike-share-systems/">The Economics of Bike Share Systems</a>
        <span></span>
      </span>
    </li>

  </ul>
</div>


<!--<%- partial('_partial/pagination') %> -->