#header
  position: fixed
  top: 4em
  right: 70vw
  display: inline-block
  float: right
  #title
    width: 95px;

  h1
    font-size: 1.5em
    font-weight: bold
    line-height: 1.3em
  a
    color: inherit
    text-decoration: none
    background: none
  a.icon
    background: none
    &:hover
      color: $color-link
  ol
    list-style-type: none
  ul
    list-style-type: none
    margin: 0
    padding: 0
    display: inline-block
    li
      margin-right: 15px
      display: inline-block
      vertical-align: middle
    li:last-child
      margin-right: 0
  #menu-icon
    float: right
    margin-left: 15px
    &:hover
      color: $color-accent
  #menu-icon-tablet
    float: right
    margin-left: 15px
    &:hover
      color: $color-accent
  #top-icon-tablet
    margin-left: 15px
    bottom: 2rem
    right: 2rem
    position: fixed
    &:hover
      color: $color-accent
  .active
    color: $color-accent
  #menu
    visibility: hidden
  #nav
    letter-spacing: 0.01em
    font-size: 1.5rem
    font-style: normal
    font-weight: 200
    color: $color-accent
    width: 10vw
    ul
      line-height: 15px
      .icon
        display: none
      a
        margin-right: 15px
        color: color-accent
      a:hover
          underline(5px, $color-accent)
      li
        margin-top: 1em
      li:last-child
        border-right: 0
        margin-right: 0
        a
          margin-right: 0
      i
        display: none
  #actions
    float: right
    margin-top: 2rem
    width: 100%
    text-align: right
    ul
      display: block
    .info
      display: block
      font-style: italic
  #share
    clear: both
    text-align: right
    padding-top: 1rem
    li
      margin: 0
      display: block
  #toc
    clear: both
    text-align: right
    padding-top: 1rem
    max-width: 20em
    float: right
    a:hover
      color: $color-link
    .toc-level-1 > .toc-link
      display: none
    .toc-level-2
      font-size: 0.8rem
      color: $color-text
      &:before
        content: "#"
        color: $color-accent
    .toc-level-3
      font-size: 0.7rem
      color: #999
    .toc-level-4
      font-size: 0.4rem
      color: #666
    .toc-level-5
      display: none
    .toc-level-6
      display: none
    .toc-number
      display: none

#header:hover
  #logo
    -webkit-filter: none
    filter: none

@media screen and (max-width:1320px)
  #header
    position: inherit
    margin-right: 2em
    margin-bottom: 1em
    float: left
    #title
      display: none
    #nav
      width: 100%
      padding-bottom: 1em
      border-bottom-style: dashed
      border-width: 1.5px
